<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-muted">
        <span>&copy; YelpCamp 2021</span><br>
        <small>
            A <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">Web Developer Bootcamp</a>
            project by <a href="https://www.udemy.com/user/coltsteele/">Colt Steele</a>. 
            This clone was built by David Valdez.
        </small>
        
    </div>
</footer>